.outline {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .resistrationTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  form {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .section {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-bottom: 10px;
      
      label {
        color: #65676b;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
      }

      input {
        font-size: 20px;
        border: none;
        outline: none;
        width: 100%;
        height: 50px;
        background-color: #f8f8ff;
        border-radius: 15px;
      }
    }
    .checkArea {
      p {
        color: #65676b;
        font-weight: bold;
        font-size: 10px;
        margin-bottom: 10px;
      }

      label {
        border: 2px solid lightskyblue;
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        color: lightskyblue;

        input {
          display: none;
        }
      }
      label.is-active {
        color: #F47837;
        border-color: #F47837;
      }
    }
    .submitBtn {
      display: block;
      background-color: #3ccace;
      color: #ffffff;
      width: 250px;
      height: 48px;
      font-size: 18px;
      border-radius: 100px;
      font-weight: 600;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 100px auto;
      text-decoration: none;
      text-align: center;
      line-height: 48px;
      margin-top: 10px;
    }
    .submitBtn:hover {
      opacity: 0.5;
    }
    .toLogin {
      text-decoration: none;
      display: block;
      background-color: #3ccace;
      color: #ffffff;
      width: 150px;
      height: 30px;
      font-size: 10px;
      border-radius: 100px;
      font-weight: 600;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 150px auto;
      text-align: center;
      line-height: 30px;
    }
    .toLogin:hover {
      opacity: 0.7;
    }
  }
}