.outline {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .resistrationTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  } 

  .new_user.new_user {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .resistrationSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;

      &__title {
        color: #65676b;
        font-weight: bold;
      }
      
      & input {
        width: 100%;
        height: 40px;
        color: #222;
        outline: none;
        border: none;
        border-bottom: 1px solid lightgray;
      }
    }
    .checkArea {
      p {
        color: #65676b;
        font-weight: bold;
        font-size: 10px;
        margin-bottom: 30px;
      }

      label {
        border: 2px solid lightskyblue;
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        color: lightskyblue;

        input {
          display: none;
        }
      }
      label.is-active {
        color: #F47837;
        border-color: #F47837;
      }
    }
    .submitBtn {
      -webkit-appearance:none;
      display: block;
      background-color: #F47837;
      color: #fff;
      width: 250px;
      height: 48px;
      font-size: 18px;
      border-radius: 100px;
      font-weight: 600;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 100px auto;
      text-decoration: none;
      text-align: center;
      line-height: 48px;
      margin-top: 50px;
    }
    .submitBtn:hover {
      opacity: 0.5;
    }
  }
}

@media (min-width: 980px) {
  .outline {
    padding: 50px;

    .new_user.new_user {
      width: 50vw;
      .resistrationSection {
        input {
          width: 60%;
          height: 40px;
          color: lightgray;
          outline: none;
          border: none;
          border-bottom: 1px solid lightgray;
        }
      }

      .checkArea {
        p {
          color: #65676b;
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 30px;
        }
  
        label {
          border: 2px solid lightskyblue;
          width: 100px;
          height: 100px;
          padding: 5px;
          border-radius: 10px;
          color: lightskyblue;
  
          input {
            display: none;
          }
        }
        label.is-active {
          color: #F47837;
          border-color: #F47837;
        }
      }
    }
  }
}