.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 15;

  p {
    width: 200px;
    margin-left: 23%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .CreateBannerLink {
    text-decoration: none;
  }
  i {
    display: block;
    margin-right: 50px;
    font-size: 20px;
    color: #000;
  }
  .right-header {
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;

    .menu-wrapper {
      cursor: pointer;

      .menu-item {
        height: 2px;
        width: 15px;
        background-color: #000;
        border-radius: 25%;
        margin-bottom: 5px;
        transition: all 0.3s ease;
      }
      .show-animate.line1 {
        transform: translateY(10px) rotate(-45deg);
      }
      .show-animate.line2 {
        opacity: 0;
        transform: translateX(50%);
      }
      .show-animate.line3 {
        transform: translateY(-10px) rotate(45deg);
      }
    }
  }
}

.mobilHeader {
  display: none;
}

.main-outline {

  .mobilBannerArea {
    display: none;
  }
  
  .post-area {
    height: auto;
    overflow: scroll;
    padding-top: 45px;
    padding-bottom: 211px;
    .post-contents {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
  
      .post-content {
        position: relative;
  
        .postVideo {
          display: block;
          width: 100vw;
          max-height: 300px;
          min-height: 220px;
          background-color: black;
          object-fit: contain;
        }
  
        .controls {
          display: flex;
          position: absolute;
          bottom: 0;
          width: 100%;
          flex-wrap: wrap;
          background: rgba(0, 0, 0, 0.7);
          transform: translateY(100%);
          transition: all 0.2s;
    
          .orange-bar {
            height: 3px;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #FFF;
    
            .orange-juice {
              display: none;
              height: 3px;
              background-color: #F47837;
            }
          }
        }
  
        #playPause {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          -webkit-transform:translateY(-50%) translateX(-50%);
          background: none;
          border: 0;
          outline: 0;
          width: 100px;
          height: 100px;
          color: #FFF;
        }
        
        .muteBtn {
          position: absolute;
          bottom: 10px;
          left: 10px;
          outline: none;
          border: none;
          width: 30px;
          height: 30px;
    
          i {
            font-size: 25px;
            outline: none;
            border: none;
            color: #F47837;
          }
        }
        
        .homeProfileArea {
          position: absolute;
          top: 20px;
          left: 20px;
          display: flex;
          align-items: center;

          .profileLink {
            text-decoration: none;
            outline: none;
            display: flex;
            align-items: center;
            z-index: 10;
            margin-right: 10px;
    
            .user-icon {
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 10px;
            }
            i {
              color: #fff;
              font-size: 40px;
              margin-right: 10px;
            }
            .user-nickname {
              color: #fff;
              font-size: 10px;
              font-weight: bold;
              text-shadow: black 1px 1px 10px, black -1px 1px 10px,
          black 1px -1px 10px, black -1px -1px 10px;;
            }
          }
  
          .sending-area {
            z-index: 10;
            .sendingLink {
              display: block;
              text-decoration: none;
              i {
                color: #F47837;
              }
            }
          }
        }

        .homeguradationArea {
          width: 50px;
          height: calc(100% - 7px);
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          text-shadow: #F47837 1px 1px 8px, #222222 -1px 1px 8px,
          #F47837  1px -1px 8px, #222222 -1px -1px 8px;;
          

          .indexPostMenuLink {
            z-index: 10;
            i {
              color: #fff;
              font-size: 20px;
            }
          }
          #indexPostMenuNav {
            background-color: #fff;
            width: 100vw;
            height: 200px;
            // margin: 0 auto;
            border-radius: 20px;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 200; /*最前面に*/
            margin-bottom: -200px;  
            text-shadow: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          
            li {
              height: 100px;
              list-style: none;
              border-bottom: 1px solid lightgray;
              padding-left: 50px;
              display: flex;
              align-items: center;
          
              i {
                font-size: 20px;
                margin-right: 20px;
              }
          
              .logoutLink {
                text-decoration: none;
                color: #000;
                font-size: 10px;
                font-weight: bold;
                text-align: center;
              }
            }
          }
  
          .favoriteArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10;
        
            .goodLink {
              display: block;
              position: relative;
              .far {
                font-size: 20px;
                color: #FFF;
              }
              .fas {
                color: #F47837;
                font-size: 20px;
              }
            }
            .favoriteCount {
              font-size: 10px;
              font-weight: bold;
              color: #FFF;
            }
          }

          .shareLink {
            z-index: 10;
            i {
              color: #fff;
              font-size: 20px;
            }
          }
          #shareNav {
            background-color: #fff;
            width: 100vw;
            height: 200px;
            // margin: 0 auto;
            border-radius: 20px;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 200; /*最前面に*/
            margin-bottom: -200px;
            text-shadow: none;
    
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
  
            .listLink {
              text-decoration: none;
              color: #222222;
              font-weight: bold;
              font-size: 10px;
            }
          }
  
          .commentLink {
            z-index: 10;
            i {
              color: #fff;
              font-size: 20px;
            }
            .commentCount {
              color: #fff;
              font-size: 10px;
              font-weight: bold;
              text-align: center;
            }
          }
        }

        .postText {
          width: 50%;
          position: absolute;
          bottom: 25%;
          left: 5%;
          color: #FFF;
          font-size: 10px;
        }
      }
    }
    .post-contents:hover .controls {
      transform: translateY(0);
    }
  }
}

.bannerArea {
  width: 100%;
  height: 170px;
  // 範囲内に収まらないコンテンツを水平方向に表示
  overflow-x: auto;
  // はみ出コンテンツを折り返さないように横並びに指定
  display: flex;
  align-items: center;
  // スクロールを滑らかにする
  overflow-scrolling: touch;
  // スクロールを滑らかにする
  -webkit-overflow-scrolling: touch;
  position: fixed;
  bottom: 44px;
  // グラデーションの設定
  background: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.1));
  background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.6));
  background: linear-gradient(to bottom, transparent, #000);
  scroll-snap-type: x mandatory;
  z-index: 10;
  padding-top: 50px;


  .bannerContent {
    //横並びにする指定
    display: inline-block;  
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.3s ease;

    .bannerLink {
      display: block;
      text-decoration: none;
      outline: none;
      position: relative;

      .bannerImage {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
      .bannerPop {
        padding-top: 5px;
        position: absolute;
        top: -20px;
        left: -2px;
        min-width: 110px;
        color: #555;
        background: #FFF;
        border: solid 2px #555;
        box-sizing: border-box;
        border-radius: 15px;
        margin-bottom: 100px;
        overflow: visible;

        // 長いタイトルは省略
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;

        .bannerTitle {
          text-align: center;
          font-size: 8px;
          font-weight: bold;
        }
        .bannerTag {
          font-size: 6px;
          font-weight: bold;
          text-align: center;
        }
      }
      
      .bannerPop:before {
        content: "";
        position: absolute;
        bottom: -24px;
        left: 50%;
        margin-left: -15px;
        border: 12px solid transparent;
        border-top: 12px solid #FFF;
        z-index: 2;
      }
      
      .bannerPop:after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -17px;
        border: 14px solid transparent;
        border-top: 14px solid #555;
        z-index: 1;
      }
      // .bannerPop.is-active {

      // }
    }
  }
  .bannerContent.show {
    transform: scale( 1.4 );
  }
}



/* レスポンシブデザイン */
@media (min-width: 980px) {
  .header {
    display: none;
  }

  .bannerArea {
    display: none;
  }

  .mobilHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 15;
    border-bottom: 1px solid lightgray;

    .titleName {
      font-size: 25px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
    }

    .linkSection {
      display: flex;
      .bottomNavLink {
        display: block;
        text-decoration: none;
        color: black;
  
        i {
          margin-right: 30px;
          display: block;
          font-size: 25px;
        }
      }
    }
    .right-header {
      position: fixed;
      right: 20px;
      width: 10%;
      height: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 100px;
  
      .menu-wrapper {
        cursor: pointer;
  
        .menu-item {
          height: 5px;
          width: 30px;
          background-color: #000;
          border-radius: 25%;
          margin-bottom: 5px;
          transition: all 0.3s ease;
        }
        .show-animate.line1 {
          transform: translateY(10px) rotate(-45deg);
        }
        .show-animate.line2 {
          opacity: 0;
          transform: translateX(50%);
        }
        .show-animate.line3 {
          transform: translateY(-10px) rotate(45deg);
        }
      }
    }
  }

  .main-outline {
    padding-top: 100px;
    background-color: #FAFAFA;
    padding-left: 300px;
    
    .mobilBannerArea {
      display: block;
      overflow-x: auto;
      display: flex;
      align-items: center;
      width: 50vw;
      height: 150px;
      border-radius: 10px;
      border: 1px solid lightgray;
      padding-top: 35px;

      
      .bannerContent {
        //横並びにする指定
        display: inline-block;  
        list-style: none;
        margin-right: 80px;
        margin-left: 40px;
        transition: 0.3s ease;
    
        .bannerLink {
          text-decoration: none;
          outline: none;
          position: relative;
    
          .bannerImage {
            display: block;
            width: 100px;
            height: 100px;
            border: 1px solid lightgray;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .bannerPop {
            padding-top: 5px;
            position: absolute;
            top: -20px;
            left: -20px;
            min-width: 150px;
            color: #555;
            background: #FFF;
            border: solid 3px #555;
            box-sizing: border-box;
            border-radius: 15px;
            margin-bottom: 100px;
            overflow: visible;
    
            // 長いタイトルは省略
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
    
            .bannerTitle {
              text-align: center;
              font-size: 10px;
              font-weight: bold;
            }
            .bannerTag {
              font-size: 20px;
              font-weight: bold;
              text-align: center;
            }
          }
          .bannerPop:before {
            content: "";
            position: absolute;
            bottom: -24px;
            left: 50%;
            margin-left: -15px;
            border: 12px solid transparent;
            border-top: 12px solid #FFF;
            z-index: 2;
          }
          
          .bannerPop:after {
            content: "";
            position: absolute;
            bottom: -30px;
            left: 50%;
            margin-left: -17px;
            border: 14px solid transparent;
            border-top: 14px solid #555;
            z-index: 1;
          }
        }
      }
    }
  
    .post-area {
      width: 50vw;
      height: auto;
      overflow: scroll;
      padding-top: 80px;
      .post-contents {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    
        .post-content {
          position: relative;
    
          .postVideo {
            width: 50vw;
            max-height: 600px;
            background-color: black;
            object-fit: contain;
            min-height: 500px;
          }
    
          .controls {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            flex-wrap: wrap;
            background: rgba(0, 0, 0, 0.7);
            transform: translateY(100%);
            transition: all 0.2s;
            display: none;
      
            .orange-bar {
              height: 3px;
              top: 0;
              left: 0;
              width: 100%;
              background-color: #FFF;
      
              .orange-juice {
                height: 3px;
                background-color: #F47837;
              }
            }
          }
    
          .btnLabel {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
      
            .buttons {
              // padding: 10px;
              display: none;
            }
        
        
            .buttons button{
              background: none;
              border: 0;
              outline: 0;
              cursor: pointer;
            }
          }
          
          .muteBtn {
            position: absolute;
            bottom: 20px;
            left: 25px;
            width: 50px;
            height: 50px;
      
            i {
              font-size: 40px;
            }
          }

          .homeProfileArea {
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            align-items: center;
  
            .profileLink {
              text-decoration: none;
              outline: none;
              display: flex;
              align-items: center;
              z-index: 10;
              margin-right: 10px;
      
              .user-icon {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
              }
              i {
                color: #fff;
                font-size: 40px;
                margin-right: 10px;
              }
              .user-nickname {
                color: #fff;
                font-size: 10px;
                font-weight: bold;
                text-shadow: black 1px 1px 10px, black -1px 1px 10px,
            black 1px -1px 10px, black -1px -1px 10px;;
              }
            }
    
            .sending-area {
              z-index: 10;
              .sendingLink {
                display: block;
                text-decoration: none;
                i {
                  color: #F47837;
                }
              }
            }
          }

          .homeguradationArea {
            width: 50px;
            height: calc(100% - 7px);
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-shadow: #F47837 1px 1px 8px, #222222 -1px 1px 8px,
            #F47837  1px -1px 8px, #222222 -1px -1px 8px;;
            
  
            .indexPostMenuLink {
              z-index: 10;
              i {
                color: #fff;
                font-size: 20px;
              }
            }
            #indexPostMenuNav {
              background-color: #fff;
              width: 100vw;
              height: 200px;
              // margin: 0 auto;
              border-radius: 20px;
              position: fixed;
              bottom: 0;
              left: 0;
              z-index: 200; /*最前面に*/
              margin-bottom: -200px;  
            
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            
              li {
                height: 100px;
                list-style: none;
                border-bottom: 1px solid lightgray;
                padding-left: 50px;
                display: flex;
                align-items: center;
            
                i {
                  font-size: 20px;
                  margin-right: 20px;
                }
            
                .logoutLink {
                  text-decoration: none;
                  color: #000;
                  font-size: 10px;
                  font-weight: bold;
                  text-align: center;
                }
              }
            }
    
            .favoriteArea {
              display: flex;
              flex-direction: column;
              align-items: center;
              z-index: 10;
          
              .goodLink {
                display: block;
                position: relative;
                .far {
                  font-size: 20px;
                  color: #FFF;
                }
                .fas {
                  color: orangered;
                  font-size: 20px;
                }
              }
              .favoriteCount {
                font-size: 10px;
                font-weight: bold;
                color: #FFF;
              }
            }
  
            .shareLink {
              z-index: 10;
              i {
                color: #fff;
                font-size: 20px;
              }
            }
            #shareNav {
              background-color: #fff;
              width: 100vw;
              height: 200px;
              // margin: 0 auto;
              border-radius: 20px;
              position: fixed;
              bottom: 0;
              left: 0;
              z-index: 200; /*最前面に*/
              margin-bottom: -200px;
      
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
    
              .listLink {
                text-decoration: none;
                color: #222222;
                font-weight: bold;
                font-size: 10px;
              }
            }
    
            .commentLink {
              z-index: 10;
              i {
                color: #fff;
                font-size: 20px;
              }
              .commentCount {
                color: #fff;
                font-size: 10px;
                font-weight: bold;
                text-align: center;
              }
            }
          }
    
          #shareNav {
            background-color: #fff;
            width: 100vw;
            height: 500px;
            border-radius: 20px;
            position: fixed;
            bottom: 0;
            z-index: 200; /*最前面に*/
            margin-bottom: -500px;
    
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
          .postText {
            width: 50%;
            position: absolute;
            bottom: 20%;
            left: 5%;
            color: #FFF;
            font-size: 20px;
          }
        }
      }
      .post-contents:hover .controls {
        transform: translateY(0);
      }
    }
  }
}