.createBannerArea {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  overflow: scroll;

  .banner-create__form {
    background-color: white;
    width: 90vw;
    height: auto;
    margin: 40px auto 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .bannerSection {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      label {
        color: #65676b;
        font-weight: bold;
        font-size: 15px;
      }

      .banner-image__label {
        i {
          font-size: 30px;
          color: #000000;
          margin-top: 20px;
        }
        .banner-image__file {
          display: none;
        }
      }

      input {
        height: 30px;
        border: none;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 5px;
        font-size: 15px;
      }


      .detailsInput {
        font-size: 10px;
        height: 150px;
        /* 改行反映 */
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    .checkArea {
      p {
        color: #65676b;
        font-weight: bold;
        font-size: 15px;
      }
    }
    
    .submitBtn {
      appearance: none;
      -webkit-appearance:none;
      margin: 0 auto;
      display: block;
      background-color: #F47837;
      color: #ffffff;
      width: 200px;
      height: 40px;
      font-size: 18px;
      border-radius: 100px;
      font-weight: 600;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 100px auto;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      margin-top: 20px;
    }
  }
}