.bannerShowArea {
  width: 100%;
  height: 100%;
  position: relative;

  .bannerShowHeader {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;

    .bannerBackLink {
      text-decoration: none;
      border: none;
      outline: none;
      position: absolute;
      top: 20px;
      left: 60px;
  
      button {
        display: block;
        outline: none;
        border: none;
        width: 20px;
        height: 20px;
        border: 5px solid;
        border-color:  transparent transparent #FFF #FFF;
        transform: rotate(45deg);
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .bannerOwenerArea {
      position: absolute;
      left: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 7px;

      .bannerOwenerImage {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      i {
        font-size: 25px;
        color: #FFF;
      }
      p {
        color: #FFF;
        font-size: 12px;
      }
    }
  }
  
  .backgroundImage {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    // padding: 80px 0 45px;
  }
  .bg_rgba {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.6);

  }

  .bannerDetailsArea {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 10;
    overflow: scroll;
    padding: 0 0 45px 20px;

    h1 {
      color: #FFF;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h2{
      color: #FFF;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      color: #FFF;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 12px;
    }

    .banner-action-area {
      margin-top: 50px;

      .user-show-room {
        .toRoom {
          margin: 0 auto;
          text-decoration: none;
          display: block;
          width: 35%;
          height: 30px;
          font-size: 10px;
          background-color: #F47837;
          color: #ffffff;
          border-radius: 100px;
          font-weight: 600;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
          line-height: 30px;
        }
      }

      .bannerDeletebtn {
        margin: 0 auto;
        display: block;
        width: 35%;
        height: 30px;
        font-size: 10px;
        background-color: #F47837;
        color: #ffffff;
        border-radius: 100px;
        font-weight: 600;
        border: 1px solid transparent;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
      }
    }
  }
}

/* レスポンシブデザイン */
@media (min-width: 980px) {
  .bannerShowArea {
    .bannerShowHeader {
      height: 80px;

      .bannerBackLink {
        top: 30px;
      }

      .bannerOwenerArea {
        position: absolute;
        left: 50%;
  
        .bannerOwenerImage {
          width: 50px;
          height: 50px;
        }
      }

      .bannerDetailsArea {
        height: 100%;
        position: absolute;
        top: 80px;
        left: 20px;
        z-index: 10;
        overflow: scroll;
        padding-top: 50px;
    
        h1 {
          color: #FFF;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        h2{
          color: #FFF;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          color: #FFF;
          white-space: pre-wrap;
          word-wrap: break-word;
          font-size: 12px;
        }
        .bannerDeletebtn {
          color: #FFF;
          text-decoration: none;
          display: block;
          border: 1px solid #FFF;
          width: 60px;
          height: 30px;
          text-align: center;
        }
      }
    }
  }
}