<header class="header">
  <p id="pahoo">Pahoo</p>
  <%= link_to new_banner_path, class: "CreateBannerLink" do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</header>

<!--<div class="tagScrollArea">
  <% @tags.each do |tag| %>
    <>  
  <% end %>

</div>-->
<div class="Area">
</div>
<%= render partial: "modules/footer" %>