<!--<header class="header">
  <p id="pahoo">Pahoo</p>
  <%= link_to new_banner_path, class: "CreateBannerLink" do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</header>

<ul class="tagListArea">
  <% @tag_lists.each do |list| %>
    <li class="tagList">
      <%= link_to list.name, users_path(tag_id: list.id), class: "listLink" %>
    </li>
  <% end %>
</ul>
<%= render partial: "modules/footer" %>