<label id="js-nav-close"></label>

<div class="follow-area">
  <h2 class="follow-area__title">フォロワーリスト</h2>

  <div class="follow-list-section">
    <% @user.followers.each do |follower| %>
      <li class="follow-list-section__list">
        <%= link_to user_path(follower), class: "follow-user-link" do %>
          <% if follower.icon? %>
            <% image_tag follower.icon.url, class: "follow-user-icon"%>
          <% else %>
            <i class="fas fa-user-circle"></i>
          <% end %>
        <% end %>
        <p class="follow-user-name"><%= follower.nickname %></p>
      </li>
    <% end %>
  </div>
</div>

<%= render partial: "modules/footer" %>

<%= javascript_include_tag 'create' %>

