<nav id="createNav">
  <li>
    <%= link_to new_post_path, class: "logoutLink" do%>
      <i class="fas fa-film"></i>
      <p>投稿</p>
    <% end %>
  </li>
  <li>
    <%= link_to new_banner_path, class: "logoutLink" do%>
      <i class="fas fa-ad"></i>
      <p>バナーを作成</p>
    <% end %>
  </li>
    <li>
    <%= link_to new_community_path, class: "logoutLink" do%>
      <i class="fab fa-unity"></i>
      <p>コミュニティを作成</p>
    <% end %>
  </li>
</nav>