#follow_form {
  .match-btn {
    display: block;
    font-size: 8px;
    text-decoration: none;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #F47837;
    color: #F47837;
    margin-right: 10px;
    border-radius: 100px;
  }
  .unfollow-btn {
    display: block;
    font-size: 8px;
    text-decoration: none;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #F47837;
    color: #fff;
    margin-right: 10px;
    border-radius: 100px;
    background-color: #F47837;
  }
}