#follow_form {
  .match-btn {
    display: block;
    text-decoration: none;
    width: 180px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid #F47837;
    color: #F47837;
  }
}