.outline {
  width: 100%;
  height: 100%;
  padding: 20px;

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .section {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-bottom: 20px;
      align-items: center;

      
      label {
        color: #65676b;
        font-weight: bold;
        font-size: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      
      .iconField {
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: blanchedalmond;

        .setIcon {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-bottom: 50px;
        }

        i {
          width: 200px;
          height: 200px;
          font-size: 120px;
          border: 2px solid lightgray;
          border-radius: 50%;
          text-align: center;
          padding-top: 30px;
          margin-bottom: 20px;
        }
        .iconFile {
          display: none;
        }
        .iconLabel {
          color: blueviolet;
        }
      }

      input {
        // font-size: 20px;
        // border: none;
        // outline: none;
        // width: 100%;
        // height: 30px;
        // background-color: #f8f8ff;
        // border-radius: 15px;
      }
    }
    .checkArea {
      p {
        color: #65676b;
        font-weight: bold;
        font-size: 10px;
        margin-bottom: 20px;
      }

      label {
        border: 2px solid lightskyblue;
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        color: lightskyblue;
        font-size: 10px;
        margin-right: 10px;

        input {
          display: none;
        }
      }
      label.is-active {
        color: orangered;
        border-color: orangered;
      }
    }
    .submitBtn {
      display: block;
      background-color: #3ccace;
      color: #ffffff;
      width: 150px;
      height: 30px;
      font-size: 10px;
      border-radius: 100px;
      font-weight: 600;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 100px auto;
      text-decoration: none;
      text-align: center;
      line-height: 30px;
      margin-top: 80px;
    }
    .submitBtn:hover {
      opacity: 0.5;
    }
  }
}

@media (min-width: 980px) {
  .outline {
    padding: 50px;
  }
}