#js-nav-close {
  display: none; /*はじめは隠しておく*/
  position: fixed;
  z-index: 150;
  top: 0; /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.mypage-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  border: 1px solid lightgray;

  .inner__header {
    width: 97%;
    padding-right: 10px;

    .CreateBannerLink {
      text-decoration: none;
      margin-right: 80px;
      i {
        font-size: 20px;
        color: #000;
      }
    }

    .menu-wrapper {
      cursor: pointer;
      float: right;

      .menu-item {
        height: 3px;
        width: 28px;
        background-color: #000;
        border-radius: 25%;
        margin-bottom: 5px;
        transition: all 0.3s ease;
      }
      // .show-animate.line1 {
      //   transform: translateY(8px) rotate(-45deg);
      // }
      // .show-animate.line2 {
      //   opacity: 0;
      //   transform: translateX(50%);
      // }
      // .show-animate.line3 {
      //   transform: translateY(-8px) rotate(45deg);
      // }
    }
  }
}

.profileArea {
  height: auto;
  padding-top: 60px;


  .profileTop {
    height: 120px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .leftArea {
      width: 30%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .profileIcon {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
      }
      i {
        font-size: 80px;
        color: black;
        margin-bottom: 10px;
      }
      p {
        min-width: 100px;
        font-size: 10px;
        text-align: center;
      }
    }
    .rightArea {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 70%;

      .toRoom {
        display: block;
        font-size: 8px;
        text-decoration: none;
        width: 90px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #F47837;
        color: #F47837;
        background-color: #FFF;
        border-radius: 100px;
        // padding: 5px;
      }
    }
  }

  .profileMiddle {
    width: 100%;
    height: 100px;
    padding: 20px;

    .userEditLink {
      text-decoration: none;
      display: block;
      width: 100px;
      font-size: 10px;
      height: 30px;
      border: 1px solid lightgray;
      text-align: center;
      color: gray;
      padding-top: 5px;
      border-radius: 5px;
    }
  }

  .tagArea {
    padding-left: 20px;
    .tagTitle {
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .genre {
      display: flex;
      flex-direction: column;
      .genreName {
        width: 100px;
        font-size: 8px;
      }
    }
  }
}

.tab {
  width: 100%;
  margin-top: 50px;
  .tab-nav {
    display: flex;
    justify-content: space-evenly;
    .tab-nav-item {
      display: block;
      width: 50%;
      text-decoration: none;
      font-size: 30px;
      color: lightgray;
      text-align: center;
      position: relative;
      z-index: 2;
    }
    .tab-nav-item.is-active {
      position: relative;
      z-index: 2;
      color: #F47837;
      border-bottom: 2px solid #F47837;
    }
  }
  .tab-contens {
    .tab-contents-item {
      display: none;

      .userPostedArea {
        height: auto;
        padding: 10px;
        overflow: scroll;
      
        h1 {
          font-size: 30px;
          margin-bottom: 10px;
          font-weight: bold;
        }

        .postScallLink {
          text-decoration: none;
          
          .myPostesContent {
            width: 110px;
            height: 110px;
            object-fit: cover;
          }
        }
      }

      .userBannerArea {
        height: auto;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;

        .userBannerLink {
          display: block;
          text-decoration: none;
          position: relative;
          margin-right: 30px;
          margin-bottom: 30px;

          .userBannerImage {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid lightgray;
          }
          .bannerPop {
            padding-top: 5px;
            position: absolute;
            top: -20px;
            left: -8px;
            min-width: 100px;
            color: #555;
            background: #FFF;
            border: solid 3px #555;
            box-sizing: border-box;
            border-radius: 15px;
            margin-bottom: 100px;
            overflow: visible;
    
            // 長いタイトルは省略
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
    
            .bannerTitle {
              text-align: center;
              font-size: 10px;
              font-weight: bold;
            }
            .bannerTag {
              font-size: 20px;
              font-weight: bold;
              text-align: center;
            }
          }
          .bannerPop:before {
            content: "";
            position: absolute;
            bottom: -24px;
            left: 50%;
            margin-left: -15px;
            border: 12px solid transparent;
            border-top: 12px solid #FFF;
            z-index: 2;
          }
          
          .bannerPop:after {
            content: "";
            position: absolute;
            bottom: -30px;
            left: 50%;
            margin-left: -17px;
            border: 14px solid transparent;
            border-top: 14px solid #555;
            z-index: 1;
          }
        }
      }
    }
  }
}

#userMenuNav {
  background-color: #fff;
  width: 100vw;
  height: 300px;
  // margin: 0 auto;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  z-index: 200; /*最前面に*/
  margin-bottom: -800px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    height: 100px;
    list-style: none;
    border-bottom: 1px solid lightgray;
    padding-left: 50px;
    display: flex;
    align-items: center;

    i {
      font-size: 20px;
      margin-right: 20px;
    }

    .logoutLink {
      text-decoration: none;
      color: #000;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
    }
  }
}


/*  レスポンシブデザイン */
@media (min-width: 980px) {
  .profileArea {
    width: 80vw;
    height: auto;
    padding-top: 80px;
    margin: 0 auto 50px auto;

    .profileTop {
      height: 200px;
      display: flex;
      border-bottom: 1px solid lightgray;
  
      .leftArea {
        width: 30%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        .profileIcon {
          display: block;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-bottom: 10px;
          object-fit: cover;
        }
  
        i {
          font-size: 150px;
          color: black;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          text-align: center;
        }
      }
      .rightArea {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        padding-bottom: 80px;
  
        .userPostCountArea {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        p {
          font-size: 20px;
          padding-right: 40px;
        }
      }
    }
  
    .profileMiddle {
      width: 100%;
      height: 150px;
      padding-left: 70px;
      padding-top: 40px;
    }

    .followBtn {
      margin-left: 70px;
    }
  
    .tagArea {
      padding-left: 70px;
      .tagTitle {
        font-size: 20px;
      }
      .genre {
        display: flex;
        flex-direction: column;
        .genreName {
          width: 100px;
          font-size: 15px;
        }
      }
    }
  }

  .tab {
    width: 80vw;
    margin: 0 auto;
    background-color: #FAFAFA;

    .tab-nav {
      .tab-nav-item {
        font-size: 40px;
      }
    }
    .tab-contens {
      .tab-contents-item {  
        .userPostedArea {
          height: auto;
          padding: 10px;
        
          h1 {
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: bold;
          }
  
          .postScallLink {
            text-decoration: none;
            
            .myPostesContent {
              width: 315px;
              height: 315px;
              object-fit: cover;
            }
          }
        }
  
        .userBannerArea {
          height: auto;
          padding: 60px;
          display: flex;
          flex-wrap: wrap;
  
          .userBannerLink {
            display: block;
            text-decoration: none;
            position: relative;
            margin-right: 30px;
            margin-bottom: 30px;
  
            .userBannerImage {
              width: 250px;
              height: 250px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
            .bannerPop {
              padding-top: 5px;
              position: absolute;
              top: -30px;
              left: 25px;
              min-width: 200px;
              color: #555;
              background: #FFF;
              border: solid 3px #555;
              box-sizing: border-box;
              border-radius: 15px;
              margin-bottom: 100px;
              overflow: visible;
      
              // 長いタイトルは省略
              // overflow: hidden;
              // text-overflow: ellipsis;
              // white-space: nowrap;
      
              .bannerTitle {
                text-align: center;
                font-size: 32px;
                font-weight: bold;
              }
              .bannerTag {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
              }
            }
            .bannerPop:before {
              content: "";
              position: absolute;
              bottom: -24px;
              left: 50%;
              margin-left: -15px;
              border: 12px solid transparent;
              border-top: 12px solid #FFF;
              z-index: 2;
            }
            
            .bannerPop:after {
              content: "";
              position: absolute;
              bottom: -30px;
              left: 50%;
              margin-left: -17px;
              border: 14px solid transparent;
              border-top: 14px solid #555;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

