.mypage-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  border: 2px solid lightgray;

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  .right-header {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 100px;

    .CreateBannerLink {
      text-decoration: none;
      margin-right: 80px;
      i {
        font-size: 50px;
        color: #000;
      }
    }
    .setting-menu {
      i {
        font-size: 50px;
      }
    }
  }
}

.profileArea {
  height: auto;
  padding-top: 80px;


  .profileTop {
    height: 320px;
    // background-color: lightgreen;
    display: flex;
    border-bottom: 1px solid lightgray;

    .leftArea {
      width: 30%;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .profileIcon {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
      }

      i {
        font-size: 200px;
        color: black;
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
    }
    .rightArea {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 70%;
      padding-bottom: 80px;

      p {
        font-size: 30px;
        border-right: 2px solid lightgray;
        padding-right: 40px;
      }
    }
  }

  .profileMiddle {
    width: 100%;
    height: 200px;
    padding: 40px;

    .userEditLink {
      text-decoration: none;
      display: block;
      width: 200px;
      height: 50px;
      border: 1px solid lightgray;
      text-align: center;
      color: gray;
      padding-top: 10px;
      border-radius: 5px;
    }
  }

  .tagArea {
    padding-left: 40px;
    .tagTitle {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 30px;
      .genre {
        display: flex;
        .genreName {
          width: 100px;
        }
      }
    }
  }
}

.tab {
  width: 100%;
  margin-top: 50px;
  .tab-nav {
    display: flex;
    justify-content: space-evenly;
    .tab-nav-item {
      display: block;
      width: 50%;
      text-decoration: none;
      font-size: 80px;
      color: lightgray;
      text-align: center;
      // border-bottom: 1px solid lightgray;
      position: relative;
      z-index: 2;
    }
    .tab-nav-item.is-active {
      color: #000;
      border-bottom: 1px solid lightgray;
      position: relative;
      z-index: 2;
    }
  }
  .tab-contens {
    .tab-contents-item {
      display: none;

      .userPostedArea {
        height: auto;
        padding: 10px;
        // width: 100%;
        // overflow: scroll;
      
        h1 {
          font-size: 30px;
          margin-bottom: 10px;
          font-weight: bold;
        }

        .postScallLink {
          text-decoration: none;
          
          .myPostesContent {
            width: 315px;
            height: 315px;
            object-fit: cover;
          }
        }
      }

      .userBannerArea {
        height: auto;
        padding: 60px;
        display: flex;
        flex-wrap: wrap;

        .userBannerLink {
          display: block;
          text-decoration: none;
          position: relative;
          margin-right: 30px;
          margin-bottom: 30px;

          .userBannerImage {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .bannerPop {
            padding-top: 5px;
            position: absolute;
            top: -30px;
            left: 25px;
            min-width: 200px;
            color: #555;
            background: #FFF;
            border: solid 3px #555;
            box-sizing: border-box;
            border-radius: 15px;
            margin-bottom: 100px;
            overflow: visible;
    
            // 長いタイトルは省略
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
    
            .bannerTitle {
              text-align: center;
              font-size: 32px;
              font-weight: bold;
            }
            .bannerTag {
              font-size: 20px;
              font-weight: bold;
              text-align: center;
            }
          }
          .bannerPop:before {
            content: "";
            position: absolute;
            bottom: -24px;
            left: 50%;
            margin-left: -15px;
            border: 12px solid transparent;
            border-top: 12px solid #FFF;
            z-index: 2;
          }
          
          .bannerPop:after {
            content: "";
            position: absolute;
            bottom: -30px;
            left: 50%;
            margin-left: -17px;
            border: 14px solid transparent;
            border-top: 14px solid #555;
            z-index: 1;
          }
        }
      }
    }
  }
}



.menuNav {
  height: 1000px;
  background-color: gray;
  width: 75%;
  margin: 100px auto 0 auto;
}