.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 130px;
  z-index: 2;


  p {
    font-size: 80px;
    font-weight: bold;
    margin-left: 50px;
  }

  i {
    display: block;
    font-size: 70px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
  }
}

.post-area {
  height: auto;
  overflow: scroll;
  margin-top: 130px;

  .post-contents {
    width: 100%;
    height: auto;
    // margin-bottom: 50px;
    border: 1px solid lightgrey;
    position: relative;
    overflow: hidden;

    .post-content {
      position: relative;

      .postVideo {
        width: 100vw;
        max-height: 800px;
        background-color: black;
        object-fit: contain;
        // min-height: 700px;
      }
      .controls {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.7);
        transform: translateY(100%);
        transition: all 0.2s;
  
        .orange-bar {
          height: 7px;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #FFF;
  
          .orange-juice {
            height: 7px;
            background-color: orangered;
          }
        }
      }
  
      .muteBtn {
        position: absolute;
        bottom: 50px;
        left: 50px;
        outline: none;
        border: none;
        width: 50px;
        height: 50px;
  
        i {
          font-size: 80px;
          outline: none;
          border: none;
          // background-color: red;
          color: orangered;
        }
      }
      .btnLabel {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
  
        .buttons {
          // padding: 10px;
          display: none;
        }
    
    
        .buttons button{
          background: none;
          border: 0;
          outline: 0;
          cursor: pointer;
        }
        .buttons button:before {
          content: "▶";
          width: 50px;
          height: 50px;
          display: inline-block;
          font-size: 28px;
          color: #fff;
        }
        .buttons button.play:before {
          content: "▶";
        }
        .buttons button.pause:before {
          content: "■";
          width: 50px;
          height: 50px;
          display: inline-block;
          font-size: 28px;
          color: #fff;
        }
      }
      .menuLink {
        position: absolute;
        right: 40px;
        bottom: 450px;
        i {
          color: #fff;
          font-size: 60px;
        }
      }
      .profileLink {
        position: absolute;
        right: 40px;
        bottom: 350px;
        i {
          color: #fff;
          font-size: 60px;
        }
      }
      .goodLink {
        position: absolute;
        right: 40px;
        bottom: 250px;
        i {
          color: #fff;
          font-size: 60px;
        }
      }
      .commentLink {
        position: absolute;
        right: 40px;
        bottom: 150px;
        i {
          color: #fff;
          font-size: 60px;
        }
      }
      .shareLink {
        position: absolute;
        right: 40px;
        bottom: 50px;
        i {
          color: #fff;
          font-size: 60px;
        }
      }
      .postText {
        width: 50%;
        position: absolute;
        bottom: 20%;
        left: 5%;
        color: #FFF;
        font-size: 20px;
      }
      .postDeleteBtn {
        display: block;
        width: 400px;
        height: 50px;
        background-color: #e4e6ea;
        border-radius: 10px;
        border: none;
        color: #65676b;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
      }
    }
    
  }
  .post-contents:hover .controls {
    transform: translateY(0);
  }
}

.jsCommentModalBg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 10;
}
.jsCommentModalContent {
  position: absolute;
  top: 100px;
  left: 120px;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 65vw;
  height: 70vh;
  display: none;
  background: #fff;
  padding: 40px;
  z-index: 15;

  .contentInline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-size: 70px;
      margin-bottom: 100px;
    }
    button {
      margin-top: 500px;
      display: block;
      width: 200px;
      height: 50px;
      background-color: #e4e6ea;
      border-radius: 10px;
      border: none;
      color: #65676b;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.thumbnail {
  width: 100vw;
  // position: fixed;
  bottom: 160px;
  height: 350px;
  // z-index: 2;
  .swiper-wrapper {
    width: 100vw;
    height: 350px;

    .swiper-slide-active {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100vw;
      height: 350px;
      opacity: 0.7;
    }
  }
}

.swiper-container {
  width: 100%;
  position: fixed;
  bottom: 160px;
  height: 350px;
  background-color: rgba(0,0,0,0.4);
  z-index: 10;

  .swiper-wrapper {
    width: 100%; 

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      border: none;
      outline: none;
      position: relative;
      z-index: 15;

      .bannerLink {
        width: 350px;
        height: 350px;
        display: block;
        position: absolute;
        border-radius: 50%;
        // z-index: 3;
      }

    }
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.4);
      opacity: 0.1;
    }
  }

  // .swiper-button-prev {
  //   cursor: pointer;
  //   z-index: 2;
  //   color: #fff;
  //   margin-left: 20px;
  // }
  // .swiper-button-next {
  //   cursor: pointer;
  //   z-index: 2;
  //   color: #fff;
  //   margin-right: 20px;
  // }
}