.showHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;


  .backLink {
    text-decoration: none;
    border: none;
    outline: none;
    position: absolute;
    top: 20px;
    left: 60px;

    button {
      display: block;
      outline: none;
      border: none;
      width: 20px;
      height: 20px;
      border: 5px solid;
      border-color:  transparent transparent #565656 #565656;
      transform: rotate(45deg);
      background-color: #FFF;
    }
  }
  .postOwnerName {
    color: gray;
    font-weight: bold;
    font-size: 15px;
  }

  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}

.PickupContent {
  // padding-top: 100px;
  position: relative;
  
  .scallPostVideo {
    width: 100vw;
    max-height: 300px;
    background-color: black;
    object-fit: contain;
  }

  .show-controls {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: all 0.2s;

    .show-orange-bar {
      height: 3px;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #FFF;

      .show-orange-juice {
        height: 3px;
        background-color: orangered;
      }
    }
  }

  .showBtnLabel {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform:translateY(-50%) translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    .showButtons {
      // padding: 10px;
      // display: none;
    }

    .showButtons button{
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      width: 100px;
      height: 100px;
      color: #FFF;
    }
    // .showButtons button:before {
    //   content: "▶";
    //   width: 40px;
    //   height: 40px;
    //   display: inline-block;
    //   font-size: 20px;
    //   color: #fff;
    //   border: 2px solid #FFF;
    //   border-radius: 50%;
    //   line-height: 40px;

    // }
    // .showButtons button.play:before {
    //   content: "▶";
    // }
    // .showButtons button.pause:before {
    //   content: "■";
    //   width: 40px;
    //   height: 40px;
    //   display: inline-block;
    //   font-size: 20px;
    //   color: #fff;
    //   border: 3px solid #FFF;
    //   border-radius: 50%;
    //   line-height: 40px;
    // }
  }

  .showMuteBtn {
    position: absolute;
    bottom: 0;
    left: 20px;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;

    i {
      font-size: 30px;
      outline: none;
      border: none;
      color: #F47837;
    }
  }
  
  .scallProfileLink {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;

    .user-icon {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
    i {
      color: #fff;
      font-size: 40px;
      margin-right: 20px;
    }
    .user-nickname {
      color: #FFF;
      font-size: 10px;
      font-weight: bold;
    }
  }

  .postMenuLink {
    position: absolute;
    right: 30px;
    bottom: 180px;
    i {
      color: #fff;
      font-size: 25px;
    }
  }

  .favoriteArea {
    position: absolute;
    right: 30px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .goodLink {
      display: block;
      .far {
        font-size: 25px;
        color: #FFF;
      }
      .fas {
        color: orangered;
        font-size: 25px;
      }
    }
    .favoriteCount {
      font-size: 15px;
      font-weight: bold;
      color: #FFF;
    }
  }
  .commentLink {
    position: absolute;
    right: 30px;
    bottom: 30px;
    i {
      color: #fff;
      font-size: 25px;
    }
  }
  .shareLink {
    position: absolute;
    right: 30px;
    bottom: 80px;
    i {
      color: #fff;
      font-size: 25px;
    }
  }
  .postText {
    width: 50%;
    position: absolute;
    bottom: 50px;
    left: 5%;
    color: #FFF;
    font-size: 10px;
  }
}

#postMenuNav {
  background-color: #fff;
  width: 100vw;
  height: 200px;
  // margin: 0 auto;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  z-index: 200; /*最前面に*/
  margin-bottom: -200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    height: 100px;
    list-style: none;
    border-bottom: 1px solid lightgray;
    padding-left: 50px;
    display: flex;
    align-items: center;

    i {
      font-size: 20px;
      margin-right: 20px;
    }

    .logoutLink {
      text-decoration: none;
      color: #000;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
    }
  }
}

#shareNav {
  background-color: #fff;
  width: 100vw;
  height: 300px;
  // margin: 0 auto;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  z-index: 200; /*最前面に*/
  margin-bottom: -300px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    list-style: none;
    height: 100px;
    border-bottom: 1px solid lightgray;
    padding-left: 50px;
    display: flex;
    align-items: center;

    i {
      font-size: 20px;
      margin-right: 20px;
    }
    .postShareLink {
      text-decoration: none;
      color: #000;
      font-size: 15px;
      font-weight: bold;
      text-align: center; 
    }
    iframe {
      width: 150px;
      height: 40px;
    }
  }
}

#commentNav {
  background-color: #fff;
  width: 100vw;
  height: 400px;
  // margin: 0 auto;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  z-index: 200; /*最前面に*/
  margin-bottom: -400px;
  // overflow: scroll;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .commentOutline { 
    overflow: scroll;
    height: 700px;
    
    .commentCount {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
    }
    
    li {
      list-style: none;
      height: auto;
      margin-bottom: 20px;
  
      .topPosition {
        display: flex;
        align-items: center;
  
        .commentUserLink {
          text-decoration: none;
          display: flex;
          margin-right: 20px;
  
          .commentUserIcon {
            display: block;
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
          }
          i {
            font-size: 50px;
            margin-right: 20px;
            color: #000;
          }
          .commentUserName {
            font-size: 10px;
            color: gray;
            font-weight: bold;
            line-height: 10px;
          }
        }
        .deleteCommentLink {
          text-decoration: none;

          i {
            font-size: 10px;
            color: #000;
          }
        }
      }
      .bottomPosition {
        display: flex;
        align-items: center;
  
        .commentContent {
          font-size: 10px;
          font-weight: bold;
          margin-right: 20px;
        }
        .commentDatetime {
          color: gray;
          font-size: 10px;
        }
      }
    }
  }

  

  .bottomInput {
    width: 100%;
    height: 100px;
    // position: fixed;
    // bottom: 0;

    form {
      display: flex;
      height: 100%;
      align-items: center;

      .inputComment {
        height: 30px;
        margin-right: 20px;
        width: 80%;
        border-radius: 15px;
        outline: none;
      }
      .submitComment {
        text-decoration: none;
        display: block;
        background-color: #3ccace;
        color: #ffffff;
        width: 100px;
        height: 30px;
        font-size: 10px;
        border-radius: 100px;
        font-weight: 600;
        border: 1px solid transparent;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
      }
      .submitComment:hover {
        opacity: 0.7;
      }
    }
  }
}


.userOthersPosted {
  margin-top: 50px;
  padding: 10px;

  p {
    font-size: 10px;
  }

  .postScallLink {

    .otherContents {
      width: 112px;
      height: 112px;
      object-fit: cover;
      background-color: #000;
      // margin-right: 10px;
    }
  }
}