.showHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;


  // .backLink {
  //   text-decoration: none;
  //   display: block;
  //   width: 30px;
  //   height: 30px;
  //   border: 5px solid;
  //   border-color:  transparent transparent #565656 #565656;
  //   transform: rotate(45deg);
  // }
  .postOwnerName {
    color: gray;
    font-weight: bold;
    font-size: 20px;
  }

  h1 {
    font-weight: bold;
    font-size: 35px;
  }
}

.PickupContent {
  padding-top: 100px;
  position: relative;
  
  .scallPostVideo {
    width: 100vw;
    max-height: 800px;
    background-color: black;
    object-fit: contain;
  }
  
  .scallProfileLink {
    position: absolute;
    top: 120px;
    left: 30px;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;

    .user-icon {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
    i {
      color: #fff;
      font-size: 60px;
      margin-right: 20px;
    }
    .user-nickname {
      color: #000;
      font-size: 30px;
      font-weight: bold;
    }
  }
  .goodLink {
    position: absolute;
    right: 40px;
    bottom: 290px;
    i {
      color: #fff;
      font-size: 60px;
    }
  }
  .commentLink {
    position: absolute;
    right: 40px;
    bottom: 190px;
    i {
      color: #fff;
      font-size: 60px;
    }
  }
  .shareLink {
    position: absolute;
    right: 40px;
    bottom: 90px;
    i {
      color: #fff;
      font-size: 60px;
    }
  }
  .postText {
    width: 50%;
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: #FFF;
    font-size: 20px;
  }
}


.userOthersPosted {
  margin-top: 100px;
  padding: 10px;

  p {
    font-size: 30px;
  }

  .postScallLink {

    .otherContents {
      width: 315px;
      height: 315px;
      // max-height: 315px;
      // max-width: 315px;
      object-fit: cover;
      background-color: #000;
      // margin-right: 10px;
    }
  }
}